Svårt att se ändringarna eftersom det är en ny fil. Här är diffen:

--- draft-johani-dnsop-delegation-mgmt-via-ddns-05.md	2025-05-26 17:25:21
+++ draft-johani-dnsop-delegation-mgmt-via-ddns-06.md	2025-09-18 19:43:38
@@ -1,7 +1,7 @@
 ---
 title: "Automating DNS Delegation Management via DDNS"
 abbrev: DDNS Updates of Delegation Information
-docname: draft-johani-dnsop-delegation-mgmt-via-ddns-05
+docname: draft-johani-dnsop-delegation-mgmt-via-ddns-06
 date: {DATE}
 category: std
 
@@ -255,8 +255,8 @@
 
     _dsync.parent.  IN DSYNC ANY 2 5302 ddns-receiver.parent.
  
-Example 2: a parent zone announces support different DNS UPDATE
-targets on a per-child basis 
+Example 2: a parent zone announces support for different DNS UPDATE
+targets on a per-child basis:
 
     childA._dsync.parent.  IN DSYNC ANY 2 5302 ddns-receiver.registrar1.
     childB._dsync.parent.  IN DSYNC ANY 2 5302 ddns-receiver.registrar3.
@@ -284,6 +284,7 @@
 * changes to the NS RRset 
 * changes to glue (if any) 
 * changes to the DS RRset (if any) 
+* changes to the KEY RRset (only used for validation of UPDATE messages)
 
 Only for those specific cases is the described mechanism proposed. 
 
@@ -441,7 +442,7 @@
 the UPDATE Receiver (or an agent) may look that KEY up for subsequent
 validation.
 
-### Automatic Bootstrap When Child Zone is DNSSEC-signed
+### Automatic Bootstrap When Child Zone Is DNSSEC-signed
 
 If the child zone is DNSSEC-signed (including a signed delegation via
 a DS record), then the KEY record containing the SIG(0) public key can
@@ -457,21 +458,51 @@
 SIG(0) SHOULD NOT be promoted to the set of keys that the UPDATE
 Receiver trusts and any old keys MUST be kept.
 
-### Automatic Bootstrap When Child Zone is unsigned
+### Automatic Bootstrap When Child Nameserver Is In A DNSSEC-signed Zone
 
-The bootstrap problem in the unsigned case is essentially identical to
-the "automatic DNSSEC Bootstrap via CDS" service a la {{!RFC8078}}
-that multiple TLD registries provide today. 
+If the child zone is unsigned but at least one of the authoritative
+nameservers for the zone is located in a DNSSEC-signed zone (including a
+signed delegation via a DS record), then the KEY record containing the
+SIG(0) public key can be looked up and validated by the DNS UPDATE Receiver.
+
+Example: assume that the unsigned child zone "child.parent." has
+two nameservers:
+
+    child.parent.  IN NS ns.child.parent.
+    child.parent.  IN NS ns.provider.example.
+
+ns.child.parent. is located in the unsigned zone child.parent. and a
+KEY record located under that name can not be DNSSEC-validated. 
+ns.provider.example. on the other hand is located in a DNSSEC signed zone.
+In this case the KEY record containing the public SIG(0) key for child.parent.
+may be located at the special label "_sig0key.{child}._signal.{nameserver}":
+
+    _sig0key.child.parent._signal.ns.provider.example. IN KEY ...
+    _sig0key.child.parent._signal.ns.provider.example. IN RRSIG KEY ...
 
+In case of validation success the key SHOULD be promoted to "trusted"
+by the UPDATE Receiver. At this point any old keys should be deleted.
+
+In case of validation failure (or absence of a DNSSEC signature) the
+SIG(0) SHOULD NOT be promoted to the set of keys that the UPDATE
+Receiver trusts and any old keys MUST be kept.
+
+This bootstrap mechanism is identical to the method used for DNSSEC bootstrap
+as described in {{!RFC9615}}. As the proof of the SIG(0) key being authentic is
+based on a clear DNSSEC signature chain this method is as secure as if the 
+child zone had been signed.
+
+### Automatic Bootstrap When Child Zone Is Unsigned
+
 Hence, to bootstrap the public SIG(0) key for a child zone it is
 possible for the parent use a "bootstrap policy" a la:
 
 * Look up the KEY RRset in the child zone. Compare to the child KEY
   received in the self-signed DNS UPDATE.
 
-* To mitigate possible spoofing, do the look up of the child KEY RRset
-  from multiple vantage points, at multiple times. The child KEY RRset
-  must be consistent over time and space.
+* To mitigate possible spoofing, do the look up of the child KEY RRset,
+  using TCP transport, from multiple vantage points, at multiple times.
+  The child KEY RRset must be consistent over time and space.
 
 * Make spoofed responses even more difficult by adding a requirement
   to use a more stable transport, like TCP (or in the future DOT, DOH
@@ -493,6 +524,13 @@
 update into an EPP {{!RFC5730}} transaction to communicate it to the
 registry.
 
+This bootstrap mechanism for the case of an unsigned child is essentially
+identical to the "automatic DNSSEC Bootstrap via CDS" service a la
+{{!RFC8078}} that multiple TLD registries provide today. It does not
+provide the provable authenticity of the two previous methods but it
+is possible to make it arbitrarily difficult to spoof by using a larger
+number of repeated queries from a larger number of vantage points.
+
 ## Rolling the SIG(0) Key 
 
 Once the parent (or registrar) DNS UPDATE Receiver has the key, the